
:root {
  /* Primary */
  --color-primary: #E50914;

  /* Neutrals */
  --color-black: #000000;
  --color-heading: #333333;
  --color-text: #BACCE1;
  --color-white: #ffffff;
  --color-gray: gray;
  --color-light-bg: #F8F9FA;
  --color-border: #EAEAEA;

  /* Accents */
  --color-accent-blue: #1E90FF;
  --color-accent-purple: #9B51E0;
  --color-accent-orange: #F2994A;
  --color-accent-teal: #2DCECE;
  --color-accent-pink: #FF6BAA;

  
}
/* ================================================== header start ================================================ */
header                                                  {padding: 32px;background:var(--color-white);position:fixed;width: 100%;z-index: 100;}
header .header-container                                {padding: 0px 16px;gap: 65px; display:flex;align-items: center; justify-content: space-between;}
header .site-branding a img                             {width: 50px;height: 50px;}
.custom-logo-link{display: inline-block;}
/* toggle */
.main-navigation                                        {gap:65px;}
.main-navigation .menu-toggle                           {position: relative; width: 40px; height: 40px; cursor: pointer; display: -webkit-box; display: -ms-flexbox;display: none;  justify-content: center; align-items: end; flex-direction: column; background: none; border: 0;}
.main-navigation.toggled .menu-toggle span:nth-child(1) { width: 23px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.main-navigation.toggled .menu-toggle span:nth-child(2) { opacity: 0; }
.main-navigation.toggled .menu-toggle span:nth-child(3) { width: 23px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.main-navigation .menu-toggle span                      {height: 2px; margin: 3px 5px; width: 28px; display: block; background: var(--color-primary); -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; transform-origin: right center;}
.main-navigation .menu-toggle span:nth-child(2)         {width: 22px; }
/* nav menu */
.menu-class ul                                       { display: flex ; list-style: none; margin: 0; padding: 0; gap: 20px; }
.menu-class ul > li                                  {position: relative;}
.menu-class ul > li > a                              {padding-block:24px; color: var(--color-black); font-size: 16px;line-height: 20px;position: relative;transition: all ease-in-out 0.25s;}
.menu-item-type-custom > a                              {position: relative;margin-right: 24px;}
.menu-item-type-custom > a::after                       {content: "";position: absolute;right:-28px;top:50%;transform:translateY(-50%);height:24px;width: 24px; background: url(../images/dropdown-icon.svg) no-repeat center center/ cover;filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3940%) hue-rotate(199deg) brightness(116%) contrast(95%);}
/* hover */
.menu-class ul > li:before                           {content: ""; position: absolute;left:50%;transform: translateX(-50%); bottom: 0%;width: 0%; height: 2px;background: var(--color-primary);  transition: all ease-in-out 0.25s;}
.menu-class ul > li:hover:before                     {width:100%;}
.menu-class ul > li:hover a                           {color:var(--color-primary);}
/* .menu-item-type-custom > a:hover::after{filter: none;} */
/* active menu */
.menu-class ul > li.current_page_item:before,
.menu-class ul > li.current-menu-parent:hover:before {color: var(--color-primary);width:100%;}
.menu-class ul > li.current_page_item        a        {color:var(--color-primary);}
/* sub menu */
.sub-menu                                               {padding:12px;opacity: 0;pointer-events: none;position:absolute;border: 1px solid var(--gray-01); background: var(--white);filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.2)); border-radius: 10px; left: 0; opacity: 0; pointer-events: none; text-align: left; top: 100%; white-space: nowrap; }
.sub-menu li                                            {margin-bottom: 4px;}
.sub-menu li:last-child                                 {margin-bottom: 0 !important;}
.sub-menu li a                                          {padding: 10px 16px; color: var(--dark-blue);font-size:18px;line-height: 21px;font-family: var(--helvetica-reg);width: 100%;border-radius: 8px;}
.sub-menu li a:hover                                    {background:var(--blue-01);color:var(--white);}
/* open drop down */
.menu-class ul > li:hover .sub-menu                  {opacity: 1;pointer-events: all;}
/* header button */
header .header-buttons                                  {gap:8px;}
header .header-buttons .wp-block-button__link           {padding:8px 16px; font-size:18px;line-height: 26px;color:#F3F3F3; background-color: var(--f0);border-radius: 8px;border:1px solid;font-family:var(--helvetica-reg);}
header .header-buttons .header-transperent-btn .wp-block-button__link               {border-color: #F3F3F3;}
header .header-buttons .header-fill-btn .wp-block-button__link                      {border-color: var(--blue-01);background-color: var(--blue-01);}
header .header-buttons .header-transperent-btn .wp-block-button__link:hover         {background-color: var(--blue-01);color: var(--white);border-color: var(--blue-01);}
header .header-buttons .header-fill-btn .wp-block-button__link:hover                {background-color: var(--white);color: var(--blue-01);}

/*======================================== sticky ======================================== */
header.sticky                                           {padding: 0 16px; box-shadow: 0px 8px 16px 0px rgba(58, 58, 58, 0.2); z-index: 1000;border-bottom-color: transparent;background-color:var(--white);}
header.sticky .header-container                         {padding: 0;}
header.sticky .site-branding a img                      {filter: none;transition: none !important;}
header.sticky .menu-class ul > li > a                {color: var(--dark-blue);}

/* hover */
header.sticky .menu-class ul > li:before             {background: rgb(42, 134, 199); background: linear-gradient(90deg, rgba(42, 134, 199, 1) 0%, rgba(42, 134, 199, 0) 100%);}
header.sticky .menu-class ul > li:hover:before       {color: var(--blue-01);}
header.sticky .menu-class ul > li:hover > a          {color:var(--blue-01);}
header.sticky .menu-item-type-custom > a::after         {filter:brightness(0);}
header.sticky .menu-item-type-custom:hover > a::after   {filter:brightness(1);}
/* active menu */
header.sticky .menu-class ul > li.current_page_item > a:before                   {color: var(--blue-01);}
header.sticky .menu-class ul > li.current_page_item > a                          {color:var(--blue-01);}
header.sticky .header-buttons .header-transperent-btn .wp-block-button__link        {color:var(--dark-blue);border-color: var(--dark-blue);}
header.sticky .header-buttons .header-transperent-btn .wp-block-button__link:hover  {background-color: var(--blue-01); color: var(--white); border-color: var(--blue-01);}
/* toggle menu */
header.sticky .main-navigation .menu-toggle span                                    {background-color: var(--color-primary);}
/* sticky header */
.nav-up                                                                             { transform: translateY(-100%);}
.nav-down                                                                           { transform: translateY(0%) !important;}
.primary-navigation .primary-menu-container>ul>.menu-item>a                         {padding: 0;color: var(--white-shade-cccccc, #CCC); letter-spacing: 0.96px;}

/* ============================== after login profile style ============================== */
.header-right-profile-wrap a                            {background-color:rgba(255, 255, 255, 0.1);border-radius:8px;min-width: 78px;}
.header-right-profile-wrap a .header-profile img        {height: 38px;width: 38px;border-radius:8px;}
.header-right-profile-wrap a .profile-dropdown-icon     {width:24px;height: 24px;margin: 0 auto;}

/* profile sub menu */
.header-right-profile-wrap                              {position: relative;}
.profile-dropdown-menu                                  {padding: 12px; opacity: 0; pointer-events: none; position: absolute; border: 1px solid var(--gray-01); background: var(--white); filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.2)); border-radius: 10px; right: 0; opacity: 0; pointer-events: none; text-align: left; top: 100%; white-space: nowrap;}
.profile-dropdown-menu li                               {margin-bottom: 4px;}
.profile-dropdown-menu li img                           {width:22px;height:22px;}
.profile-dropdown-menu li:not(:last-child) img          {filter: brightness(0) saturate(100%) invert(56%) sepia(14%) saturate(6805%) hue-rotate(179deg) brightness(81%) contrast(90%);}
.profile-dropdown-menu li:last-child                    {margin-bottom: 0 !important;}
.profile-dropdown-menu li a                             {padding: 10px 16px;display: flex;gap:6px; color: var(--dark-blue);font-size:18px;line-height: 21px;font-family: var(--helvetica-reg);width: 100%;border-radius: 8px;}
.profile-dropdown-menu li:not(:last-child) a:hover      {background:var(--blue-01);color:var(--white);}
.profile-dropdown-menu li:last-child a                  {border-top: 1px solid var(--gray-01);}

.header-right-profile-wrap:hover .profile-dropdown-menu {opacity: 1; pointer-events: all;}
.profile-dropdown-menu li a:hover img                   {filter: none;}

/* sticky profile */
header.sticky .header-right-profile-wrap > a                        {background-color:#F5F6F6;}
header.sticky .header-right-profile-wrap > a .profile-dropdown-icon {filter:brightness(0);}

/* ============================== header white style ============================== */
.header-white                                                       {padding: 0 16px;  z-index: 1000;border-bottom-color: transparent;background-color:var(--white);}
.header-white .header-container                                     {padding: 0;}
.header-white .site-branding a img                                  {filter: none;transition: none !important;}
.header-white .menu-class ul > li > a                            {color: var(--dark-blue);}
/* hover */
.header-white .menu-class ul > li:before                         {background: rgb(42, 134, 199); background: linear-gradient(90deg, rgba(42, 134, 199, 1) 0%, rgba(42, 134, 199, 0) 100%);}
.header-white .menu-class ul > li:hover:before                   {color: var(--blue-01);}
.header-white .menu-class ul > li > a:hover                      {color:var(--blue-01);}
.header-white .menu-item-type-custom > a::after                     {filter:brightness(0);}
.header-white .menu-item-type-custom > a:hover::after               {filter:brightness(1);}
/* active menu */
.header-white .menu-class ul > li.current_page_item:before       {color: var(--blue-01);}
.header-white .menu-class ul > li.current_page_item,
.header-white .menu-class ul > li.current-menu-parent > a        {color:var(--blue-01);}
.header-white .menu-class ul > li.current-menu-parent:before     {width: 100%;}
.header-white .header-buttons .header-transperent-btn .wp-block-button__link        {color:var(--dark-blue);border-color: var(--dark-blue);}
.header-white .header-buttons .header-transperent-btn .wp-block-button__link:hover  {background-color: var(--blue-01); color: var(--white); border-color: var(--blue-01);}
/* toggle menu */
.header-white .main-navigation .menu-toggle span                                    {background-color: var(--dark-blue);}
/* .header-white{position: relative;} */
/* sticky profile */
.header-white .header-right-profile-wrap > a                                        {background-color:#F5F6F6;}
.header-white .header-right-profile-wrap > a .profile-dropdown-icon                 {filter:brightness(0);}
.header-white .menu-class ul > li.current-menu-parent > a::after                 {filter:brightness(1);}

/* ================================================== footer start ================================================ */
footer                                                  {padding:16px;background-color: var(--white);}
footer .container-footer                                {border-radius: 16px;overflow:hidden;background-color: #0B1928;}
footer .top-footer                                      {padding:48px 48px 52px 48px; }
footer .row .row                                        {gap:28px;}
/* footer logo */
footer .footer-logo                                     {max-width: 371px;}
footer .footer-logo img                                 {width: 227px;height:auto;}
footer .footer-logo p                                   {font-size:20px;line-height: 30px;margin-top:28px !important; font-family:var(--helvetica-light); color: var(--gray-01);}
/* footer links */
footer h6                                               {margin-bottom: 16px !important;font-size:20px;line-height: 34px;font-family:var(--helvetica-reg);color:var(--white);}
footer .footer-links li                                 {margin-bottom: 16px;}
footer .footer-links li:last-child                      {margin-bottom: 0 !important;}
footer a                                                {font-size:20px;line-height: 28px;font-family:var(--helvetica-light);color:var(--gray-01);position: relative;}
footer a:before                                         {content: ""; position: absolute; left: 0; bottom: 0%; width: 0%; height: 2px; background: rgb(255, 255, 255); background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); transition: 0.3s; }
footer a:hover                                          {color: var(--gray-01) !important;}
footer a:hover:before                                   {width:100%;}
/*  */
.footer-links                                           {max-width: 233px;}
.footer-contact-connect                                 {max-width:355px;}
/* footer contacts */
footer .footer-contact-info p                           {margin-bottom: 16px !important; display: flex;align-items: center;gap:12px;}
footer .footer-contact-info img                         {width: 24px;height: 24px;}
/* footer connects */
footer .footer-connect                                  {margin-top: 36px;}
footer .footer-connect h6                               {text-transform:uppercase;}
footer .footer-connect ul                               {display: flex;gap:12px;}
footer .footer-connect li a                             {width:52px;height:52px;margin:0; display:flex;justify-content: center;align-items: center;background:rgba(255, 255, 255, 0.08);border-radius:50%;}
footer .footer-connect li a img                         {width:28px;height:28px;position:relative;z-index:1;}
footer .footer-connect li a::before                     {content: "";position: absolute; height: 100%; width: 100%; top: 0; left: 0; transform: scale(0); transition: all .4s; background: var(--blue-01); border-radius: 50%; z-index: 0; }
footer .footer-connect li a:hover::before               {transform: scale(1);}
footer .footer-connect li a::after                      {display: none;}
footer .footer-connect li span                          {display: none;}
/* bottom footer */
.bottom-image-content-wrap                              {border-radius: 0 0 16px 16px;height:505px; background-position: center center;background-repeat: no-repeat;background-size: cover;}
footer .bottom-footer                                   {padding: 24px 48px;gap: 30px;position: relative;}
footer .bottom-footer:before                            {background-color: #0B1928;content: "";position: absolute;height: 100%;width: 100%;right:0;top:0;transform: skewX(-40deg); transform-origin: top right;z-index:0;pointer-events:none;}
footer .bottom-footer::after                            {content: "";position: absolute;height: 30px;width: 30px;left:0;top:100%;z-index:0;pointer-events:none;border-radius:50%; -webkit-box-shadow: -200px -210px 0px 200px rgba(11,25,40,1); -moz-box-shadow: -200px -210px 0px 200px rgba(11,25,40,1); box-shadow: -200px -210px 0px 200px rgba(11,25,40,1);}
/* footer copyright */
footer .footer-copyright p                              {font-size:14px;line-height: 24px;font-family:var(--helvetica-light);color:var(--white);position: relative;}
/* footer privacy */
footer .footer-privacy ul                               {display: flex;gap:24px;}
footer .footer-privacy li a                             {font-size:14px;line-height: 24px;font-family:var(--helvetica-light);color: var(--white);margin: 0;}
footer .footer-privacy li:last-child a                  {margin-right: 10px;}
footer .footer-privacy li a::after                      {display: none;}

/* without image footer */
footer.without-image-footer .bottom-footer:before       {width: calc(100% - 96px); background-color: #1A3C60; content: ""; position: absolute; height: 1px; left: 50%; top: 0; transform: translateX(-50%); }

/* ======================================================== Media Query ================================================= */
@media screen and (max-width:1600px)                    {
    /* ================================================== header start ================================================ */
    header                                              {padding: 10px 20px;;box-shadow: 0px 25px 36px 0px rgba(0,0,0,0.1);}
    header .header-container                            {padding: 0px 10px;gap: 45px;}
    /* toggle */
    .main-navigation                                    {gap:45px;}
    /* nav menu */
    .menu-class ul                                   {gap: 40px;}
    .menu-class ul > li > a                          {padding-block:20px;font-size: 19px;line-height: 28px;}
    /* sub menu */
    .sub-menu li a                                      {padding: 10px;border-radius: 7px;}
    /* header button */
    header .header-buttons .wp-block-button__link       {border-radius: 7px;}
    /* ================================================== footer start ================================================ */
    footer                                              {padding:15px;}
    footer .container-footer                            {border-radius: 12px;}    
    /* bottom footer */
    .bottom-image-content-wrap                          {border-radius: 0 0 12px 12px;}
}
@media screen and (max-width:1500px)                    {
    /* ================================================== header start ================================================ */
    header .header-container                            {padding: 0px 10px;gap: 40px;}
    /* toggle */
    .main-navigation                                    {gap:40px;}
    /* nav menu */
    .menu-class ul                                   {gap: 35px;}
    .menu-class ul > li > a                          {padding-block:18px;font-size: 18px;line-height: 26px;}
    /* sub menu */
    .sub-menu                                           {padding: 10px;}
    .sub-menu li a                                      {padding: 8px;font-size: 17px; line-height: 20px;}
    /* header button */
    header .header-buttons .wp-block-button__link       {padding: 7px 14px; font-size: 16px; line-height: 24px;}
    
    /* after profile login */
    .profile-dropdown-menu                              {padding: 10px;}
    .profile-dropdown-menu li a                         {padding: 8px;font-size: 17px; line-height: 20px;}
    /* ================================================== footer start ================================================ */
    footer                                              {padding:12px;}
    footer .top-footer                                  {padding:38px;}
    footer .row .row                                    {gap:25px;}
    /* footer logo */
    footer .footer-logo img                             {width: 195px;}
    footer .footer-logo p                               {font-size:18px;line-height: 28px;margin-top:26px !important; }
    /* footer links */
    footer h6                                           {margin-bottom: 14px !important;font-size:18px;line-height: 32px;}
    footer .footer-links li                             {margin-bottom: 14px;}
    footer a                                            {font-size:18px;line-height: 26px;}
        
    /* footer contacts */
    footer .footer-contact-info p                       {margin-bottom: 14px !important; gap:11px;}
    footer .footer-contact-info img                     {width: 22px;height: 22px;}
    /* footer connects */
    footer .footer-connect                              {margin-top: 32px;}
    footer .footer-connect ul                           {gap:11px;}
    footer .footer-connect li a                         {width:46px;height:46px;}
    footer .footer-connect li a img                     {width:26px;height:26px;}

    /* bottom footer */
    .bottom-image-content-wrap                          {height:370px;}
    footer .bottom-footer                               {padding: 22px 37px;gap: 25px;}
    /* footer privacy */
    footer .footer-privacy ul                           {gap:22px;}
    /* without image footer */
    footer.without-image-footer .bottom-footer:before   { width: calc(100% - 76px);}
}
@media screen and (max-width:1400px)                    {
    /* ================================================== header start ================================================ */
    header                                              {padding: 20px 25px; }
    header .header-container                            {padding: 0px;gap: 32px;}
    /* header .site-branding a img                         {width: 140px;} */
    /* toggle */
    .main-navigation                                    {gap:32px;}
    /* nav menu */
    .menu-class ul                                   {gap: 24px;}
    .menu-class ul > li > a                          {padding-block:16px;font-size: 16px;line-height: 24px;}
    /* sub menu */
    .sub-menu                                           { padding: 8px; }
    .sub-menu li a                                      {padding: 8px;font-size: 16px; line-height: 20px;}
    .menu-item-type-custom > a::after                   {width: 20px;height: 20px;right: -24px;}
    .menu-item-type-custom > a                          {margin-right: 20px;}
    /* header button */
    header .header-buttons .wp-block-button__link       {padding: 6px 13px;}
    /* after profile login */
    .header-right-profile-wrap a                        {min-width: 76px;}
    .header-right-profile-wrap a .profile-dropdown-icon,
    .profile-dropdown-menu li img                       {width: 20px; height: 20px;}
    .profile-dropdown-menu                              {padding: 8px;}
    .profile-dropdown-menu li a                         {padding: 8px;font-size: 16px; line-height: 20px;}
    /* ================================================== footer start ================================================ */
    footer .top-footer                                  {padding:36px;}
    footer .row .row                                    {gap:6px;}
    /* footer logo */
    footer .footer-logo img                             {width: 175px;}
    footer .footer-logo p                               {font-size:16px;line-height: 26px;margin-top:24px !important; }
    /* footer links */
    footer h6, footer a                                 {font-size:17px;line-height: 30px;}
    /* footer contacts */
    footer .footer-contact-info p                       {gap:10px;}
    footer .footer-contact-info img                     {width: 18px;height: 18px;}
    /* footer connects */
    footer .footer-connect                              {margin-top: 36px;}
    footer .footer-connect ul                           {gap:10px;}
    footer .footer-connect li a                         {width:42px;height:42px;}
    footer .footer-connect li a img                     {width:22px;height:22px;}
    /* bottom footer */
    .bottom-image-content-wrap                          {height:300px;}
    footer .bottom-footer                               {padding: 21px 36px;gap: 24px;}
    /* footer privacy */
    footer .footer-privacy ul                           {gap:20px;}
    
    /* without image footer */
    footer.without-image-footer .bottom-footer:before   {width: calc(100% - 72px);}
}
@media screen and (max-width:1199px)                    {
    /* ================================================== header start ================================================ */
    header                                              { padding: 12px 18px;}
    header .header-container                            {gap: 20px;}
    /* header .site-branding a img                         {width: 120px;} */
    /* toggle */
    .main-navigation                                    {gap:20px;}
    /* nav menu */
    .menu-class ul                                   {gap: 16px;}
    .menu-class ul > li > a                          {padding-block: 14px; font-size: 15px; line-height: 22px;}
    /* sub menu */
    .sub-menu                                           { padding: 8px; }
    .sub-menu li a                                      {padding: 8px;font-size: 16px; line-height: 20px;}
    .menu-item-type-custom > a::after                   {width: 18px; height: 18px; right: -21px; }
    .menu-item-type-custom > a                          {margin-right: 18px;}
    /* header button */
    header .header-buttons .wp-block-button__link       {padding: 6px 12px; font-size: 15px; line-height: 22px; border-radius: 6px;}

    /* after profile login */
    .header-right-profile-wrap a                        {min-width: 68px;}
    .header-right-profile-wrap a .header-profile img    { height: 34px; width: 34px; border-radius: 6px; }

    .header-right-profile-wrap a .profile-dropdown-icon,
    .profile-dropdown-menu li img                       {width: 18px; height: 18px;}
    
    /* ================================================== footer start ================================================ */
    footer                                              { padding: 10px; }
    footer .container-footer                            { border-radius: 10px; }
    /* footer logo */
    footer .footer-logo img                             {width: 155px;}
    footer .footer-logo p                               {font-size:15px;line-height: 24px;margin-top:22px !important; }
    /* footer contact and connect */
    .footer-contact-connect                             { max-width: 280px; }
    .footer-links                                       { max-width: 170px;}
    /* footer links */
    footer h6, footer a                                 {font-size:15px;line-height: 28px;}
    footer .footer-links li                             { margin-bottom: 10px; }
    /* footer contacts */
    footer .footer-contact-info img                     {width: 16px;height: 16px;}
    footer .footer-contact-info p                       {margin-bottom: 10px !important;}
    /* footer connects */
    footer .footer-connect                              {margin-top: 35px;}
    /* bottom footer */
    .bottom-image-content-wrap                          {height:260px;}
    footer .bottom-footer                               {gap: 20px;}
}
@media screen and (max-width:991px)                     {
    /* ================================================== header start ================================================ */
    header                                              { padding:18px;}
    header .header-container                            {gap: 15px;}
    /* header .site-branding a img                         {width: 116px;} */
    /* toggle */
    .main-navigation                                    {gap:15px;}
    /* header button */
    header .header-buttons .wp-block-button__link       {padding: 6px 12px; font-size: 15px; line-height: 22px; border-radius: 6px;}
    /* =============== mobile menu open ===================== */
    body.mobile-nav-open,
    html.mobile-nav-open                                { overflow: hidden;}
    /* toggle menu */
    .main-navigation                                    {flex-direction: row-reverse;gap:15px;}
    .main-navigation .menu-toggle                       {display: flex;}
    .toggled .menu-class                                { height: 100vh; }
    /* menu nav */
    header .menu-class                                  { position: fixed; z-index: -1; top: 0; left: 0; height: 0vh; width: 100%; background-color: var(--color-white); overflow: hidden; transition: all 0.2s ease-in-out; }
    header .menu-class ul                            {gap: 16px;flex-direction: column; height: 100%; align-items: center; justify-content: center;}
    /* nav menu */
    .menu-class ul > li > a                          {padding-block: 8px; font-size: 17px; line-height: 24px;} 
    .menu-class ul > li > a:before                   {bottom: 16%;}
    .menu-class ul > li                              {text-align: center;}     
    .menu-class ul > li:before                       {bottom: 0px;}
    /* sub menu */
    .sub-menu                                           {background:none;visibility: hidden;text-align: center;transform: translateX(-50%); left: 50%;top: 0;border: none;}
    .sub-menu li a                                      {pointer-events: none;padding: 0;}
    .menu-item-type-custom > a::after                   {width: 20px; height: 20px; right: -24px; }
    .menu-item-type-custom > a                          {margin-right: 20px;}
    .menu-class ul > li:hover .sub-menu              {opacity: 0;}
    .menu-class ul > li.focus:hover .sub-menu        {opacity: 1;}
    .nav-menu li.focus .sub-menu                        {opacity: 1;position:relative;top:0;visibility: visible;}
    .nav-menu li.focus .sub-menu li a                   {color: var(--white);pointer-events: all;}
    .nav-menu li.focus .sub-menu li a:hover             {background-color: var(--f0);width: auto;}
    
    .menu-class ul > li.focus > a:before             {width:100%;}
    .menu-class .sub-menu > li > a                      {position:relative;width: auto;}
    .menu-class .sub-menu > li > a:before               {content: ""; position: absolute; left: 0; bottom: -12%; width: 0%; height: 2px; background: rgb(255, 255, 255); background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); transition: 0.3s;}
    .menu-class .sub-menu > li > a:hover:before         {width:100%;}
    .menu-class ul > li.menu-item-has-children.focus:before,
    .menu-class ul > li.current-menu-parent.focus:before {display: none;}
    
    /* sticky */
    header.sticky                                           {padding: 10px;}
    header.sticky.nav-down .menu-class                      {background-color: rgba(255, 255, 255, 1);} 
    header.sticky .nav-menu li.focus .sub-menu li a         {color: var(--dark-blue);}
    header.sticky .menu-class .sub-menu > li > a:before     {background: rgb(42, 134, 199); background: linear-gradient(90deg, rgba(42, 134, 199, 1) 0%, rgba(42, 134, 199, 0) 100%);}
    header.sticky .nav-menu li.focus .sub-menu li a:hover   {color: var(--blue-01);}
    
    /* ================================================== header white ================================================ */
    .header-white                                           {padding: 10px;}
    .header-white.nav-down .menu-class                      {background-color: rgba(255, 255, 255, 1);}   
    .header-white .nav-menu li.focus .sub-menu li a         {color: var(--dark-blue);}
    .header-white .menu-class .sub-menu > li > a:before     {background: rgb(42, 134, 199); background: linear-gradient(90deg, rgba(42, 134, 199, 1) 0%, rgba(42, 134, 199, 0) 100%);}
    .header-white .nav-menu li.focus .sub-menu li a:hover   {color: var(--blue-01);}
    
    /* ================================================== footer start ================================================ */
    footer .container-footer                                { border-radius: 8px; }
    footer .top-footer                                      { padding: 26px; }
    /* footer logo */
    footer .footer-logo img                                 {width: 135px;}
    footer .footer-logo p                                   {font-size:14px;line-height: 22px;margin-top:18px !important; }
    /* footer contact and connect */
    .footer-links                                           { max-width: 140px;}
    footer h6                                               {margin-bottom: 13px !important;}
    /* footer links */
    footer h6, 
    footer a                                                {font-size:14px;line-height: 26px;}
    footer .footer-links li                                 { margin-bottom:8px; }
    /* footer contacts */
    footer .footer-contact-info p                           {margin-bottom:8px !important;}
    /* footer connects */
    footer .footer-connect                                  {margin-top: 25px;}
    footer .footer-connect li a                             { width: 40px; height: 40px; }
    footer .footer-connect li a img                         { width: 20px; height: 20px; }
    /* bottom footer */
    .bottom-image-content-wrap                              {height:210px;border-radius: 0 0 8px 8px;}
    footer .bottom-footer::after                            {width: 20px;height: 20px;}
    footer .bottom-footer                                   {gap: 20px;padding: 18px 26px;}
    /* without image footer */
    footer.without-image-footer .bottom-footer:before       { width: calc(100% - 52px);}
}
@media screen and (max-width:767px) {
    header                                                  {padding: 14px;}
    footer .top-footer                                      { padding: 26px 26px 20px; }
    header .menu-class ul                                {gap: 26px;}
    .menu-class ul > li > a                              { padding-block: 0px; font-size: 19px; line-height: 26px; }
    .menu-class ul > li > a:before                       {bottom: -5%;}
    
    /* ================================================== footer start ================================================ */
    footer                                                  {padding:5px;}
    footer .container-footer                                { border-radius: 7px; }
    footer .top-footer > .row                               { row-gap:30px;}
    /* footer logo */
    footer .footer-logo img                                 {width: 120px;}
    /* footer contact and connect */
    footer .row .row                                        {gap:0;}
    .footer-links                                           { max-width: 50%;}
    .footer-contact-connect                                 {max-width: 50%;}
    footer h6                                               {margin-bottom: 12px !important;}
    /* footer connects */
    footer .footer-connect                                  {margin-top: 24px;}

    /* bottom footer */
    .bottom-image-content-wrap                              {height:230px;border-radius: 0 0 7px 7px;background-position: 70% bottom; background-repeat: no-repeat; background-size: 100% 80%;}
    footer .bottom-footer                                   {display: flex !important;flex-direction: column;gap: 10px;padding: 12px 26px;}
    footer .bottom-footer::after                            {display: none;}
    footer .bottom-footer:before                            {transform: skew(0);}
    footer .footer-privacy ul                               {gap: 30px; }
}
@media screen and (max-width:575px)                         {
    header                                                  {padding: 10px;}
    header .header-container                                {gap: 10px; }
    /* header .site-branding a img                             {width: 110px; } */
  
    .main-navigation                                        {gap: 5px;}
    header .header-buttons                                  {gap: 6px; }
    header .header-buttons .wp-block-button__link           {padding: 6px 10px; font-size: 14px; line-height: 20px; border-radius: 6px;}
    .main-navigation .menu-toggle                           {width: 35px;height: 35px;}
    .main-navigation .menu-toggle span                      {width: 24px;}
    .main-navigation .menu-toggle span:nth-child(2)         {width: 18px;}
    
    /* ================================================== footer start ================================================ */
    footer                                                  {padding:0px;}
    footer .container-footer                                {border-radius: 0px; }
    footer .top-footer                                      {padding: 26px 12px 20px; }
    footer .top-footer > .row, 
    footer .row .row                                        {row-gap:30px;}
    footer .row .row                                        {flex-direction:column;}
    /* footer logo */
    footer .footer-logo img                                 {width: 110px;}
    /* footer contact and connect */
    .footer-links                                           { max-width: 100%;}
    .footer-contact-connect                                 {max-width: 100%;}
    /* footer connects */
    footer .footer-connect                                  {margin-top: 30px;}

    /* bottom footer */
    footer .bottom-footer                                   {padding: 12px;}
    .bottom-image-content-wrap                              {height:280px;border-radius: 0;background-position: 80% bottom; background-size: auto 65%;}
    footer .footer-privacy ul                               {gap: 12px;flex-wrap: wrap; justify-content:center;}
    footer .bottom-footer::after                            {display: none;}
    
    /* without image footer */
    footer.without-image-footer .bottom-footer:before       {width: calc(100% - 24px);}
}
